body {
    font-family: "Roboto", sans-serif;
}

.btn {
    text-decoration: none;
    padding: 0.75rem 1.5rem;
    font: inherit;
    background-color: #3a0061;
    border: 1px solid #3a0061;
    color: #fff;
    cursor: pointer;
    border-radius: 30px;
    margin-right: 0.5rem;
    display: inline-block;
    font-family: "Roboto", sans-serif;
    outline: none;
    transition: 0.2s all;
}

h1 {
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}

h2 {
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}

h3 {
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

.actions {
    margin: .5rem 0;
    display: flex;
    justify-content: flex-end;
}

.card {
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .26);
    padding: 1rem;
    margin: 2rem auto;
    max-width: 40rem;
}
.badge {
    border-radius: 30px;
    padding: .5rem 1.5rem;
    display: inline-block;
    margin-right: .5rem;
    background-color: #ccc;
    color: #252525;
    text-transform: uppercase;
}

.frontend {
    background-color: #3d008d;
    color: #fff;
}

.backend {
    background-color: #71008d;
    color: #fff;
}

.career {
    background-color: #8d006e;
    color: #fff;
}
